.container {
    /* display: flex; */
    /* flex-wrap: wrap; */
    background-color: pink;
    border: 1px solid red;
    height: auto;
    width: auto;
    padding: 10px 0px;
    justify-content: center;
    align-items: middle;
}

.square {
    display: inline-flex;
    margin: -5px 0px;
    height: 40px;
    width: 40px;
    border: 1px solid blue;
    background-color: white;
    font-size: 10px;
}