.container {
    background-color: pink;
    border: 1px solid red;
}

.square {
    flex: 1;
    display: inline-flex;
    flex-direction: row;
    height: 25px;
    width: 25px;
    border: 1px solid blue;
    background-color: white;
}