body {
    justify-content: center;
}

button {
    background-color: rgb(240, 240, 240);
    font-size: 30px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: red;
    border: 1px solid purple;
    height: auto;
    width: 960px;
    padding: 30px;
    justify-content: center;
    align-items: middle;
}

.square {
    display: flex;
    flex: 1 0 auto;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0, 1);
    background-color: rgba(215, 215, 215, 1);
}
